@import "null.scss";

// Fonts

@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/UbuntuRegular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/UbuntuBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/LatoBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/LatoBlack.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

// Colours

$gray: #424551;
$gray-b: #1E212C;
$white: #fff;
$gray-l: #787A80;
$orange: #FF5A30;

// Setting

[class*="__container"] {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1260px;
    // overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

.learn-more {
    display: flex;
    align-items: center;
    justify-content: center;

    &__subtitle {
        margin-right: 40px;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: $gray-b;
    }
}

.centered {
    width: 100%;
    text-align: center;
}

// ---------- header ---------- //

.header {
    padding: 23px 0;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &--main {
        background-color: $white;
    }

    &__nav {
        margin-left: -112px;
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    &__link {
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: $gray;
    }
}

.header-contacts {
    display: flex;
    align-items: center;

    &__link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &:not(:last-child) {
            margin-right: 36px;
        }
    }
}

.contacts-link {
    padding-left: 53px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40px 40px;

    &__call {
        background-image: url("/img/main/iPhone.svg");
    }
    &__mail {
        background-image: url("/img/main/Chat.svg");
    }

    &__caption {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: $gray;
    }

    &__value {
        font-size: 18px;
        line-height: 150%;
        color: $gray-b;
    }
}

// ---------- main-hero ---------- //

.hero {
    padding-top: 220px;
    padding-bottom: 354px;
    background-color: $gray;
    background-image: url("/img/hero/bg-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        max-width: 590px;
    }
    &__btns {
        .btn {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

.main {
    &__title {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        letter-spacing: 1px;
        color: $gray-b;
        text-transform: uppercase;

        &--home {
            color: $white;
        }

        span {
            color: $orange;
        }
    }

    &__descr {
        font-size: 20px;
        line-height: 150%;
        color: $gray-l;

        &--home {
            color: $white;
            margin-bottom: 60px;
        }
    }
}

.btn {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    padding: 15px 39px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $white;

    &--fill {
        background-color: $orange;
    }
    &--stroke {

        &-light {
            border-color: $white;
        }
    }
}

// ---------- about section ---------- //

.section-offset {
    padding-top: 120px;
}

.about-section {
    padding-bottom: 60px;
    background-color: $white;
}

.title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: $gray-b;

    &--center {
        text-align: center;
    }
}

.descr {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 150%;
    color: $gray-l;

    &--center {
        text-align: center;
    }
}

.video-block {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    height: 500px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
        background-color: rgba($gray-b, 0.6);
        border-radius: 4px;
    }

    &__content {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__play {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 10;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        background-color: $orange;
        transform: translate(-50%, -50%);

        svg {
            width: 26px;
            height: 26px;
        }
    }

    &__muted {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        left: 32px;
        bottom: 32px;
        z-index: 10;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        background-color: rgba($white, 0.12);

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

// ---------- mission ---------- //

.mission {
    background-color: $white;

    &__list {
        --mission-gap: 94px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 27px; 
        gap: calc(var(--mission-gap) * 2);
    }
    &__item {
        position: relative;
        padding-top: 71px;
        text-align: center;
        background-position: top center;
        background-size: 48px 48px ;
        background-repeat: no-repeat;

        &:not(:last-child) {
            &:after {
                content: "";
                position: absolute;
                right: calc(-1 * var(--mission-gap));
                top: 0;
                width: 1px;
                height: 100%;
                background-image: url(/img/mission/line.svg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

    &__subtittle {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: $gray-b;
    }
    &__descr {
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: $gray-l;
    }
    &__item--quality {
        background-image: url(/img/mission/ic-like.svg);
    }
    &__item--safety {
        background-image: url(/img/mission/ic-hand.svg);
    }
    &__item--comfort {
        background-image: url(/img/mission/ic-slippers.svg);
    }
}

.know-form {
    position: relative;
    top: 92px;
    border-radius: 4px;
    padding: 48px 60px;
    box-shadow:
        0 80px 80px -20px rgba(154, 156, 165, 0.08),
        0 30px 24px -10px rgba(154, 156, 165, 0.05),
        0 12px 10px -6px rgba(154, 156, 165, 0.04),
        0 4px 4px -4px rgba(30, 33, 44, 0.03);
    background-color: $white;

    &__title {
        text-align: center;
        margin-bottom: 33px;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: $gray-b;
    }
    &__content {
        display: flex;
        align-items: flex-end;
    }
    &__field {
        margin-right: 24px;
    }
    &__btn {
        padding: 11px 29px;
    }
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__caption {
        margin-bottom: 7px;
        font-size: 14px;
        line-height: 150%;
        color: $gray;
    }

    &__input {
        background: #f4f5f7;
        border: 1px solid #d7dadd;
        border-radius: 4px;
        padding-left: 15px;
        width: 260px;
        height: 44px;
        width: 100%;
        font-size: 14px;
        line-height: 150%;

        &::placeholder {
            color: #9a9ca5;
        }

    }
    
    &--big {
        flex-grow: 1;
    }
}

// ---------- services section ---------- //

.services-section {
    padding-top: 212px;
    padding-bottom: 80px;
    background-image: url(/img/services/background.jpg);
    background-position: center;
    background-repeat: no-repeat;

    &__list {
        margin-bottom: 80px;
    }
}

.services-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.services-item {
    position: relative;
    display: block;
    padding: 0 10px;
    padding-top: 87px;
    padding-bottom: 90px;
    background-color: $white;
    border: 1px solid #e5e8ed;
    box-shadow:
        0 80px 80px -20px rgba(154, 156, 165, 0.08),
        0 30px 24px -10px rgba(154, 156, 165, 0.05),
        0 12px 10px -6px rgba(154, 156, 165, 0.04),
        0 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
        border-radius: inherit;
        background-color: $gray-b;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 5;
        border-radius: inherit;
        background-color: rgba($gray-b, 0.6);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &__content {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        margin-bottom: 23px;
        width: 52px;
        height: 52px;
        fill: $orange;
        object-fit: cover;
        transition: fill 0.3s ease-in-out;
    }
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: $gray-b;
        transition: color 0.3s ease-in-out;
    }

    &--construct {
        &::before {
            background-image: url("/img/services/hover-img-3.jpg");
        }
    }

    &:hover {
        &::before {
            opacity: 1;
        }
        &::after {
            opacity: 1;
        }
        .services-item__icon {
            fill: $white;
        }
        .services-item__title {
            color: $white;
        }
    }
}

// ---------- portfolio section ---------- //

.portfolio-section {
    padding: 120px 0;
    background-color: $white;

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    &__slider-nav {
        transform: translateX(12px);
    }

    &__title {
        padding-bottom: 12px;
        max-width: 710px;
    }

    &__learn {
        margin-top: 80px;
    }

    &__items {
        // margin: -100px;
        // padding: 100px;
        max-width: 1260px;

        .swiper-slide {
            // opacity: 0;
            // visibility: hidden;
            transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;                   
        }

        .slider-visible {
            opacity: 1;
            visibility: visible;
        }
	}
}

.slider-nav {
    display: flex;
    align-items: center;

    position: relative;
    z-index: 10;

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

        svg {
            display: block;
            width: 24px;
            height: 24px;
            color: inherit;
            fill: currentColor;
            object-fit: cover;
        }
    
        &:hover {
            color: $white;
            background-color: $orange;
        }
    }
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
    box-shadow:
        0 80px 80px -20px rgba(154, 156, 165, 0.08),
        0 30px 24px -10px rgba(154, 156, 165, 0.05),
        0 12px 10px -6px rgba(154, 156, 165, 0.04),
        0 4px 4px -4px rgba(30, 33, 44, 0.03);
    background-color: $white;

    &__content {
        padding: 16px 23px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

	&__title {
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: $gray-b;
	}

	&__descr {
        display: inline-block;
        font-size: 14px;
        line-height: 150%;
        color: $gray-l;

	}
	&__btn {
        display: none;
        margin-top: 24px;
        border: 1px solid currentColor;
        border-radius: 4px;
        padding: 13px 31px;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: $orange;
	}
}

.slider-nav__btn.swiper-button-disabled {
    opacity: 4;
    pointer-events: none;
}

// ---------- partners ---------- //

.partners {
    padding: 80px 0;
    background-color: #f4f5f7;

    &__title {
        margin-bottom: 60px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 102px;
    }
}

// ---------- testimonials ---------- //

.testimonials {
    padding-top: 97px 0;
    background-color: #f4f5f7;

    &__content {
        max-width: 612px;
    }

    &__img {
        margin-bottom: -60px;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__items {
        position: relative;
        padding-bottom: 12px;
    }

    &__slider-nav {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }
}

.testimonials-item {

    &__img {
        overflow: hidden;
        border-radius: 100%;
        margin-bottom: 25px;
        width: 72px;
        height: 72px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__descr {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 160%;
        color: $gray;

    }
    &__author {
        display: block;
        margin-bottom: 4px;
        padding-right: 110px;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: $gray-b;
    }

    &__author-position {
        display: block;
        padding-right: 110px;
        font-size: 14px;
        line-height: 150%;
        color: $gray-l;
    }
}

// ---------- facts ---------- //

.facts {
    position: relative;
    padding-top: 180px;
    padding-bottom: 100px;
    background-color: $white;

    &::before {
        content: "";
        position: absolute;
        left: -280px;
        top: 0px;
        width: 820px;
        height: 858px;
        background-image: url(/img/testimonials/bg-image.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 736px;
        margin: 0 auto;
        gap: 48px;
    }

    .facts__title {
        margin-bottom: 62px;
    }
}

.facts-element {
    &__circle {
        --progress-stroke: #000;
        --progress-bg-opacity: 0.3;

        position: relative;
        width: 148px;
        height: 148px;
        margin-bottom: 20px;

        svg {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    &__value {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        color: $gray-b;
    }

    .progress {
        stroke: var(--progress-stroke);
        transform: rotate(-90deg) translateX(21px);
        transform-origin: center;
    }

    .progress-bg {
        stroke: var(--progress-stroke);
        opacity: var(--progress-bg-opacity);
    }

    &__circle--one {
        --progress-stroke: #f89828;
    }

    &__circle--two {
        --progress-stroke: #f52f6e;
    }

    &__circle--three {
        --progress-stroke: #5a87fc;
    }

    &__circle--four {
        --progress-stroke: #03cea4;
    }

    &__text {
        display: block;
        font-size: 14px;
        line-height: 150%;
        color: $gray-b;
        text-align: center;
    }
}

// ---------- news ---------- //

.recent-news {
    padding-top: 80px;
    padding-bottom: 120px;
    background-color: $white;

    &__title {
        margin-bottom: 60px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 255px);
        margin-bottom: 80px;
        gap: 30px;
    }

    &__item {
        grid-column: 5 span;

        &:first-child {
            grid-column: 7 span;
            grid-row: 2 span;
        }
    }
}

.recent-article {
    overflow: hidden;
    border-radius: 4px;
    height: 100%;
    box-shadow:
        0 80px 80px -20px rgba(154, 156, 165, 0.08),
        0 30px 24px -10px rgba(154, 156, 165, 0.05),
        0 12px 10px -6px rgba(154, 156, 165, 0.04),
        0 4px 4px -4px rgba(30, 33, 44, 0.03);
    background-color: $white;

    &--small {
        .recent-article__descr {
            display: none;
        }

        .recent-article__text {
            padding: 12px 24px;
        }

        .recent-article__title {
            margin-bottom: 9px;
        }
    }

    &__text {
        padding: 20px 24px;
    }

    &__title {
        margin-bottom: 13px;
    }

    &__link {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: $gray-b;
    }

    &__meta {
        margin-bottom: 17px;
    }

    &__descr {
        font-size: 16px;
        line-height: 160%;
        color: $gray;
    }
}

.article-meta {
    font-size: 14px;
    line-height: 150%;
    color: $gray-l;

    &__item {
        position: relative;
        color: inherit;

        &:not(:last-child) {
            margin-right: 21px;

            &::after {
                content: "";
                position: absolute;
                right: -13px;
                top: 2px;
                width: 1px;
                height: 11px;
                color: inherit;
                background-color: currentColor;
            }
        }

        &--comments {
            background-image: url(/img/news/Chat.svg);
            background-position: left center;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            padding-left: 24px;
        }
    }
}

// ---------- contacts ---------- //

.contacts-section {
    padding-top: 80px;
    padding-bottom: 77px;
    background-image: url(/img/contacts/bg-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $gray-b;

    &__form {
        background-color: $white;
    }

    &__container {
        display: flex;
        justify-content: flex-end;
    }
}

.contacts-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    padding: 48px 40px;
    max-width: 495px;
    box-shadow:
        0 60px 80px -20px rgba(30, 33, 44, 0.16),
        0 26px 24px -10px rgba(30, 33, 44, 0.1),
        0 12px 10px -6px rgba(30, 33, 44, 0.08),
        0 4px 4px -4px rgba(30, 33, 44, 0.05);

    &__title {
        margin-bottom: 24px;
        width: 100%;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        text-align: center;
        color: $gray-b;
    }

    &__field {
        margin-bottom: 21px;
    }

    &__checkbox {
        margin-bottom: 22px;
    }

    &__btn {
        padding: 12px 31px;
        letter-spacing: 0.5px;
    }
}

.form-field {

    &--gray {
        width: 100%;

        .form-field__input {
            width: 100%;
        }
    }

    &__input {
        &--big {
            height: 66px;
            resize: none;
            padding-top: 10px;
        }
    }
}

.custom-checkbox {

    &__input {
        position: absolute;
        opacity: 0;
    }

    &__text {
        display: inline-block;
        position: relative;
        padding-left: 27px;
        font-size: 14px;
        line-height: 150%;
        color: $gray;
    }

    &__text::before {
        content: "";
        position: absolute;
        left: -1px;
        top: 1px;
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid $gray-b;
        border-radius: 3px;
        transition: background-color 0.3s ease-in-out;
    }

    &__text::after {
        content: "";
        position: absolute;
        left: -1px;
        top: 1px;
        width: 16px;
        height: 16px;
        background-image: url(/img/contacts/check.svg);
        background-position: center;
        background-size: 10px 8px;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &__input:checked + &__text::before {
        background-color: $orange;
        border: $orange;
    }

    &__input:checked + &__text::after {
        opacity: 1;
    }
}

// ---------- footer ---------- //

.footer {
    padding: 80px 0;
    color: rgba($white, 0.6);
    background-color: $gray-b;

    &__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 30px;
    }

    &__left {
        grid-column: 7 span;
    }

    &__top {
        display: flex;
        align-items: center;

        margin-bottom: 22px;
    }

    &__form {
        grid-column: 5 span;
    }

    &__address {
        grid-column: 4 span;
    }

    &__nav {
        grid-column: 8 span;
    }

    &__logo {
        margin-right: 60px;
    }

    &__descr {
        width: 100%;
        max-width: 495px;
        font-size: 14px;
        line-height: 150%;

    }

    &__copyright {
        grid-column: 12 span;
        padding-top: 30px;

        font-size: 12px;
        line-height: 150%;
        color: $white;

        span {
            padding-left: 21px;
            background-image: url(/img/footer/heart.svg);
            background-position: 2px center;
            background-size: 16px 16px;
            background-repeat: no-repeat;
        }
    }
}

.social {
    display: flex;
    align-items: center;

    &__item {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    &__link {
        display: block;
        width: 24px;
        height: 24px;

        svg {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            fill: $white;
            opacity: 0.6;
        }
    }
}

.footer-form {

    &__title {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: $white;
    }

    &__items {
        display: flex;
        align-items: center;

        margin-bottom: 15px;
    }

    .form-field__input {
        background-color: rgba(255, 255, 255, 0.12);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 11px 19px;
        letter-spacing: normal;
    }

    &__descr {
        font-size: 12px;
        line-height: 150%;
    }

    &__field {
        width: 364px;
    }
}

.footer-address {
    padding-top: 20px;
    font-style: normal;

    &__item {
        display: block;
        font-size: 16px;
        line-height: 160%;

        &:not(:last-child) {
            margin-bottom: 4px;
        }

        a {
            color: inherit;
        }
    }

    &__name {
        color: $white;
    }
}

.footer-nav {
    display: flex;
    padding-top: 20px;
    padding-left: 54px;

    &__col {
        &:not(:last-child) {
            margin-right: 125px;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    &__link {
        font-size: 16px;
        line-height: 160%;
        color: inherit;
    }
}

.footer-title {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
}
